        {% extends "app/base.html" %}
{% load staticfiles %}

{%block middle%}
     <h2>Account - {{request.user}}</h2>
                <hr>

                    <h4>Account Balance (mBtC): {{account_balance}} </h4>
                 <hr>

                           <h4>Account Addresses:</h4>
                     <table class="table table-striped">

                   <tbody>
                    {% for a in account_address %}
                    <tr><td>{{a}} </td></tr>
                    {% endfor%}
                    </tbody></table>
                    <form method="POST" action="{% url 'app.views.get_new_address' %}">
                    {% csrf_token %}
  <button type="submit" class="btn btn-default">Get New Address</button>
  </form>
  <small>Deposit funds to one of these addresses</small>


                    <h4>Withdraw Funds</h4>
                                      <form method="POST" action="{% url 'app.views.withdraw' %}" >
                    {% csrf_token %}


                            <div class="form-group">
    <label>Send to address</label>
    <input input type="text" name="to_address" class="form-control" >
  </div>
  <div class="form-group">
    <label>Amount (mBtC)</label>
    <input input type="text" name="amt" class="form-control">
  </div>
  <div class="form-group">
    <label>Comment (optional)</label>
    <input input type="text" name="cmt" class="form-control">
  </div>


  <button type="submit" class="btn btn-default">Withdraw</button>
  </form>

                     <hr>


                    <!--    <h4>Delete Account</h4>
                                      <form method="POST" action="{% url 'app.views.delete_acct' %}">
                    {% csrf_token %}
  <button type="submit" class="btn btn-default">Delete Account</button>
  </form> -->


{%endblock%}  {%block right %}

                             <h4>Open Single Bets</h4>


           <div class=table-div><table class="table table-striped"><thead><th>Bet</th><th>Odds</th><th>Bet Amt</th></thead>
            <tbody>
             {% for a in account_open_single_bets %}
            <tr><td>{{a.bet_string}}</td><td>{{a.odds}}:1</td><td>{{a.amt}}</td></tr>
            {% endfor %}
            </tbody>
        </table></div>
                <h4>Open Parlay Bets</h4>

                           <div class=table-div><table class="table "><thead><th>Bet</th><th>Odds</th><th>Bet Amt</th></thead>
            <tbody>
             {% for a in account_open_parlay_bets %}

            <tr class='{{a.0}}'><td>{% if a.0 = 'header' %}<img src="{{ STATIC_URL }}img/down_arrow.png" class="small open_parlay">{%endif%}{{a.1}}</td><td>{{a.2}}:1</td><td>{{a.3}}</td></tr>

             {% endfor %}
            </tbody>
        </table></div>

                <hr>
                                <h4>Closed Single Bets</h4>


           <div class=table-div><table class="table table-striped"><thead><th>Bet</th><th>Odds</th><th>Bet Amt</th><th>Bet Result</th></thead>
            <tbody>
             {% for a in account_closed_single_bets %}
            <tr><td>{{a.bet_string}}</td><td>{{a.odds}}:1</td><td>{{a.amt}}</td><td>{{a.res}}</td></tr>
            {% endfor %}
            </tbody>
        </table></div>

                       <h4>Closed Parlay Bets</h4>

                                              <div class=table-div><table class="table "><thead><th>Bet</th><th>Odds</th><th>Bet Amt</th><th>BetResult</th></thead>
            <tbody>
             {% for a in account_closed_parlay_bets %}

            <tr class='{{a.0}}'><td>{% if a.0 = 'header' %}<img src="{{ STATIC_URL }}img/down_arrow.png" class="small open_parlay">{% endif %}{{a.1}}</td><td>{{a.2}}:1</td><td>{{a.3}}</td><td>{{a.4}}</td></tr>

             {% endfor %}
            </tbody>
        </table></div>
                {%endblock%}