        {% extends "app/base.html" %}
{% load staticfiles %}

                {%block left%}
                {{ block.super }}



        <h4>Stages</h4>   <ul class="nav nav-tabs nav-stacked"> {% for s in stages %}
                <li> <a href="{% url 'app.views.stage' s.id%}">  {{s.name}} - {{s.date}}</a></li>
                {% endfor %}
    </ul>

        {%endblock%}

        {%block middle%}
        <h2>{{race.name}}</h2>
         <h4>{{stage.name}} - {{stage.date}}</h4>
<hr>

        <form method='POST' >
{% csrf_token %}
<h4>Stage Winner</h4>
       <div class=table-div> <table class="table table-striped odds_table"><thead><th>Rider</th><th>Team</th><th>Odds</th> {%if user.is_authenticated %}<th>Add to Betslip</th>{%endif%}</thead>
            <tbody>
       {{ odds_formset.management_form }}
      {% for tr in odds_formset %}
   <tr id="{{tr.lbl.id}}_STAGE"> <td>{{tr.id}}{{tr.status}} {{ tr.lbl.rider.name}}</a></td> <td>{{tr.team}}</td><td>{{tr.oddslabel}}:1</td><td>{%if user.is_authenticated %}<img src="{{ STATIC_URL }}img/plus.png" class="small add_bet">{%endif%}</td></tr>
      {% endfor %}
            </tbody>
        </table></div>


</form>


{% endblock %}